<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/feline-logo.jpg" alt="Logo com felinos"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="">Início</a>
        <a class="nav-link active" routerLink="adocao">Adoção</a>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Ajude-nos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Faça uma doação</a></li>
            <li><a class="dropdown-item" routerLink="lar-temporario">Seja um lar temporário</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Torne-se um membro</a></li>
          </ul>
        </li>
        <a class="nav-link active" tabindex="-1" aria-disabled="true" routerLink="login">Login</a>
      </div>
    </div>
  </div>
</nav>