<div class="container-aconchego">
  <h2>Seja um Lar Temporário e Faça a Diferença! 🐱❤️</h2>
  <p>Um lar temporário é uma etapa fundamental no resgate e recuperação de gatos em situação de abandono. Ao abrir sua
    casa para um gatinho resgatado, você oferece a ele um ambiente seguro, carinho e cuidados até que ele encontre um
    lar definitivo.</p>
  <h3>Por que ser um Lar Temporário?</h3>
  <p>Muitos gatos resgatados precisam de um espaço tranquilo para se recuperar, ganhar confiança e se preparar para a
    adoção. Como nossa ONG não possui um abrigo fixo, contamos com a ajuda de lares temporários para garantir que esses
    bichinhos recebam o cuidado necessário.</p>
  <p>Ao se tornar um lar temporário, você estará ajudando:</p>
  <ul>
    <li>✔ <span>O gatinho</span>, proporcionando bem-estar e segurança.</li>
    <li>✔ <span>A ONG</span>, permitindo que possamos resgatar mais animais.</li>
    <li>✔ <span>Futuros adotantes</span>, que encontrarão um gatinho já acostumado com o convívio humano.</li>
  </ul>
  <h3>Como funciona?</h3>
  <ul>
    <li>Você recebe um gato resgatado e cuida dele por um período determinado.</li>
    <li>A ONG oferece suporte, como orientação sobre alimentação e cuidados veterinários.</li>
    <li>Você ajuda no processo de socialização, preparando o gatinho para adoção.</li>
    <li>Quando um adotante responsável for encontrado, ele seguirá para seu lar definitivo.</li>
  </ul>

  <p>Se você tem amor pelos animais e pode oferecer um cantinho seguro para um gatinho em necessidade, <span>
      preencha nosso
      formulário
    </span> e junte-se a essa causa!</p>
  <p>Juntos, podemos mudar vidas! 💙🐾</p>

  <h3>Formulário de lar temporário</h3>
  <p>Bem-vindo(a) a bordo! Precisamos apenas de algumas informações.</p>
  <app-form-lar-temp />
</div>