<div class="container-home">
  <h1>Projeto Aconchego das Patas</h1>
  <h2>Sobre o projeto</h2>
  <p>O Projeto Aconchego das Patas é uma iniciativa apaixonada que busca mudar a vida dos gatinhos em situação de
    vulnerabilidade, maus tratos e abandono. Sabemos que existem milhares de gatinhos por aí, lutando para sobreviver
    nas ruas, enfrentando a fome, doenças e o desamparo. </p>
  <p>Nós acreditamos que cada um deles merece uma chance de ter um lar amoroso e seguro.</p>
  <p>Com o seu apoio, resgataremos, recuperaremos e conectaremos esses adoráveis felinos a famílias adotivas que estejam
    prontas para oferecer amor e carinho. Além disso, realizamos alimentação nas ruas e castrações, contribuindo para o
    controle da população de animais e promovendo a saúde e bem-estar deles.</p>

  <h2>Objetivos do projeto</h2>
  <p>Nosso objetivo com esta campanha é arrecadar [R$5000] para:</p>
  <ul>
    <li>Cuidar de gatinhos em situação de risco e sofrimento;</li>
    <li>Proporcionar tratamento veterinário e recuperação para os gatinhos resgatados;</li>
    <li>Conectar gatinhos recuperados a famílias adotivas responsáveis;</li>
    <li>Alimentar todos os dias gatinhos que vivem nas ruas ou em colonias;</li>
    <li>Realizar castrações para evitar o crescimento da população de animais abandonados, assim, evitamos mais
      sofrimento.</li>
  </ul>

  <h2>Quem somos</h2>
  <p>Somos um grupo de voluntários apaixonados pela causa animal, dedicados a fazer a diferença na vida dos gatinhos
    vulneráveis. Com experiência em resgates e cuidado animal, temos um profundo compromisso em oferecer não apenas
    abrigo, mas também amor e cuidados adequados.</p>
  <p>Nossa missão vai além do resgate; lutamos por um mundo onde cada animal tenha a chance de viver dignamente, longe
    do sofrimento. Nós acreditamos no poder da comunidade e na importância de unir forças para mudar realidades.</p>
</div>