:root {
  --cinza: #F2F2F2;
  --laranja: #F2A477;
  --verde: #B0BFAE;
  --azul: #254159;
  --roxo: #A6537A;


  --contorno-cinza: rgb(235, 231, 231);
  --contorno-laranja: #ec9d6f;


  --laranja-ativo: #fe9456;

  --mensagem-erro: #f37258;
}

h1 {
  font-weight: 700;
  text-align: center;
  margin-top: 1vh 3vh;
  color: var(--verde);
}

h2 {
  text-align: center;
  margin-top: 1vh;
  font-weight: 600;
  color: var(--roxo);
  margin: 1vh 5vh
}

h3 {
  font-weight: 400;
  color: var(--laranja);
  margin: 1vh 5vh
}

p {
  margin: 1vh 5vh
}

.container-aconchego {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--cinza);
  padding: 30px;
  height: 100%;
  border-radius: 20px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 1px solid var(--contorno);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}